.chat-mode-item-container{
  margin: 0 0 22px 0;
  padding: 0;
  height: 96px;
  width: 330px;
  background-color: #3C1B49;  
  border: none;
  cursor: pointer;
}
.chat-mode-item-container:focus{
  outline: none;
}